@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.container {
  width: 768px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.container a {
  text-decoration: none;
}
.container button {
  cursor: pointer;
}

.main-header {
  width: 100%;
  text-align: left;
  position: relative;
}

.logo {
  position: absolute;
  margin-left: 314px;
}

.main-navigation {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}


.main-navigation ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 100%;
  list-style: none;

}

.main-navigation li {
  vertical-align: top;
  margin: 0;
  padding: 0;

}

.main-navigation li:nth-child(2),
.main-navigation li:nth-child(3) {
  width: 185px;
}

.main-navigation li:nth-child(1),
.main-navigation li:nth-child(4) {
  width: 153px;
}

.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {
  text-align: right;
}


.main-navigation a {
  display: block;
  padding: 17px 0;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}


.main-navigation a:hover {
  color:#81b3d2;
}

.main-navigation a:active {
  opacity: 0.3;
}

.main-navigation li.active a {
  color:#766357;
}

.main-navigation li.active:active a {
  opacity: 1;
}

.intro-header-background {
  display: block;
  height: 513px;
  margin-bottom: 57px;
  background: url(../img/welcome.png) no-repeat 50% 77px,
    url(../img/background-index-768.jpg) no-repeat;
}

.intro-header-background p {
  font-size: 0;
  margin: 0;
}

.sedona-description {
  margin-bottom: 52px;
}

.sedona-description h2 {
  display: inline-block;
  width: 453px;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
}

.sedona-description .discription-text {
  margin: 0;
  margin-top: 30px;
}

.features-item  h2.title {
  display: inline-block;
  width: 160px;
}

.sedona-privelege-block {
  display: block;
}

.privelege-left {
  background: #333;
  float: left; 
}

p.discription-text {
  margin: 0;
  padding: 0;
}

.sedona-privelege-block .sedona-privelege-info {
  display: inline-block;
  background: #81b3d2;
  width: 256px;
  min-height: 256px;
}

.sedona-privelege-info .title {
  display: inline-block;
  width: 151px;
  margin: 0;
  padding-top: 47px;
  margin-bottom: 24px;
}

.privelege_number {
  display: inline-block;
  width: 100%;
  margin-bottom: 21px;
}

.sedona-privelege-info .discription-text {
  display: inline-block;
  width: 200px;
}

.privelege-img {
  width: 512px;
  height: 256px;
}

.privelege-img-1 {
  background: url(../img/privelege-1-768.jpg) no-repeat;
  float: right;
}

.features {
  margin-top: 58px;
  margin-bottom: 61px;
}

.features h2,
.sedona-privelege-unother h2 {
  font-size: 21px;
  font-weight: bold;
}

.features-item {
  display: block;
  float: left;
  width: 246px;
  margin: 0 5px;
  text-align: center;
}

.features-img {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;
  background: #fff;
  font-size: 0;
  width: 76px;
  height: 76px;
}

.features-img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/page-icons.png);
  background-repeat: no-repeat;
}

.img-house::before  {
  width: 75px;
  height: 72px;
  background-position: -234px -5px;
}

.img-food::before  {
  width: 74px;
  height: 70px;
  background-position: -128px -86px;
}

.img-souvenirs::before {
  width: 64px;
  height: 76px;
  background-position: -212px -87px;
}

.features .features-item h2 {
  margin:0;
}


.features .discription-text {
  display: inline-block;
  width: 160px;
  margin: 0;
  padding-top: 21px;

}

.features .features-item:last-child .discription-text {
  width: 166px;
}

.privelege-right {
  float: right;
}

.privelege-img-2 {
  background: url(../img/privelege-2-768.jpg);
  float: left;
}

.sedona-privelege-unother {
  background-color: #eee;
  margin-bottom: 57px;
  min-height: 256px;
}

.sedona-privelege-unother .features-item:nth-child(2) .discription-text {
  width: 130px;
}

.sedona-privelege-unother .title {
  padding-top: 47px;
}

.sedona-privelege-unother .discription-text {
  width: 155px;
}

.sedona-interested h2 {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  font-size: 30px;
}

.sedona-interested .discription-text {
  display: inline-block;
  line-height: 24px;
  margin-bottom: 47px;
}

.search-hotel {
  position: relative;
  width: 568px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.search-hotel-title { 
  background: #766357;
  height: 22px;
  padding-top: 30px;
  padding-bottom: 34px;
}

.search-hotel h2 {
  display: inline-block;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
}

.search-hotel-form {
  display: none;
  position: absolute;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background: #fff;
  padding: 55px;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
}

.search-hotel-form.open {
  display: block;
}

.search-hotel-form fieldset {
  position: relative;
  height: 38px;
  line-height: 26px;
  border: none;
}

.search-hotel-form label {
  padding: 6px 0;
  display: inline-block;
}

.search-hotel-form input {
  margin:0;
  font-family: "PT Sans", "Arial", serif;
  vertical-align: middle;
  background: #f2f2f2;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  padding: 3px 0;
  color: #000;
  padding-left: 13px;
  border: none;
  outline: none;
  text-transform: uppercase;
}

.search-hotel-form input::-webkit-inner-spin-button, 
.search-hotel-form input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.search-hotel-form input[type="date"] {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 333px;
  height: 32px;
}

.search-hotel-form input[type="date"]:hover {
  background: #ebebeb;
}

.search-hotel-form input[type="date"]:focus {
  background: #fff;
}

.search-hotel-form button {
  background: none;
  outline: none;
}

.search-hotel-form button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/page-icons.png);
  background-repeat: no-repeat;
}

.search-date-calendar {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 38px;
  height: 38px;
  font-size: 0;
}

.search-date-calendar::before {
  width: 23px;
  height: 22px;
  background-position: -67px -5px;
}

.search-date-calendar:hover::before {
  background-position: -5px -5px;
}

.search-date-calendar:active::before {
  background-position: -36px -5px;
}

.search-hotel-form .date-in,
.search-hotel-form .date-out {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 29px;
}

.search-hotel-form .two-column {
  display: inline-block;
  width: 458px;
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
}

.search-hotel-form .two-column fieldset {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;

}

.search-hotel-form .two-column fieldset:first-child {
  width: 226px;
}

.search-hotel-form .two-column fieldset:last-child {
  margin-left: 50px;
  width: 178px;
} 


.search-hotel-form .minus-plus-shell {
  vertical-align: top;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
  width: 114px;
}


.search-hotel-form .minus-plus-shell button {
  display: inline-block;
  position: relative;
  border: none;
  width: 38px;
  height: 38px;
  font-size: 0;
  background: #f2f2f2;
}

.search-hotel-form .minus-plus-shell button.button-minus::before {
  width: 12px;
  height: 3px;
}

.search-hotel-form .minus-plus-shell button.button-plus::before {
  width: 11px;
  height: 11px;
}

.button-minus::before {
  background-position: -286px -113px;
}

.button-minus:hover::before {
  background-position: -286px -87px;
}

.button-minus:active::before {
  background-position: -286px -100px;
}

.button-plus::before {
  background-position: -286px -129px;
}

.button-plus:hover::before {
  background-position: -308px -87px;
}

.button-plus:active::before {
  background-position: -308px -108px;
}


.search-hotel-form .minus-plus-shell input {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  text-align: center;
}

.search-hotel-form .btn {
  display: inline-block;
  background: #81b3d2;
  border: none;
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "PT Sans", "Arial", serif;
  outline: none;
}

.search-hotel-form .btn:hover {
  background: #669ec0;
}

.search-hotel-form .btn:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.sedona-map {
  background: url(../img/map-768.jpg);
  width:  766px;
  height: 593px;
  margin: 0 auto;
}

/* ------sedona-hotel -----------*/

.search-housing {
  display: flex;
  justify-content: center;
  padding-left: 46px;
  padding-right: 46px;
  padding-top: 29px;
  padding-bottom: 32px;
  background: url(../img/background-hotels-768.jpg);
}

.search-housing fieldset {
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0 none;
}

.search-housing legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.search-housing input[type="checkbox"] {
  display: none;
}

.search-housing-checkbox:last-child {
  margin-bottom: 0;
}

.search-housing label {
  display: inline-block;
  position: relative;
  width: 186px;
  height: 23px;
  margin-bottom: 23px;
  padding-left: 40px;
  cursor: pointer;
  vertical-align: baseline;
}

.search-housing label:last-child {
  margin-bottom: 0;
}

.search-housing input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  margin-left: -40px;
}

.search-housing .checkbox-indicator::before,
.search-housing .checkbox-indicator::after {
  content: "";
  position: absolute;
  background-image: url(../img/page-icons.png);
  background-repeat: no-repeat;
  background-position: -130px -5px;
  width: 26px;
  height: 23px;

}

.search-housing input[type="checkbox"]:checked + .checkbox-indicator::before,
.search-housing input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  background-image: url(../img/page-icons.png);
  background-repeat: no-repeat;
  background-position: -198px -5px;
  width: 26px;
  height: 23px;
}

.search-infrastructure {   
  flex-shrink: 0;
  width: 226px;
}

.search-infrastructure legend,
.search-typehousing legend {
  margin-bottom: 24px;
}

.search-typehousing {
  flex-shrink: 0;
  width: 226px;
  padding-left: 14px;
}

.price-button-shell { 
  flex-shrink: 0;
  width: 226px;
}

.search-price {
  width: 220px;
  text-transform: uppercase;
}

.search-price-title {
  margin-bottom: 9px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;

  top: 50%;
  left: 50%;

  
  width: 2px;
  height: 22px;

  background: #ffffff;
  
  transform: translate(-50%, -50%);
}



.price-controls label {
  display: inline-block;
  padding: 0;
  text-align: center;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price {
  width: 107px;
}

.price-controls .max-price {
  width: 103px;
  margin-left: 4px;
}

.price-controls input {
  max-width: 56px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.price-controls input:first-child {
  max-width: 46px;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}



.search-housing .btn {
  background: none;
  text-transform: uppercase;
  border: #fff 2px solid;
  border-radius: 2px;
  width: 133px;
  height: 36px;
  color: #fff;
  outline: none;
}

.search-housing .btn:hover {
  background: #fff;
  color: #000;
}

/* --------------------------------------*/
.total-and-sort {
  vertical-align: middle;
  margin: 0;
  max-height: 86px;
  padding: 30px 46px;
}

.total-and-sort-shell {
  display: flex;
}


.results-total {
  display: inline;
  vertical-align: middle;
  width: 154px;
  flex-shrink: 0;
  text-align: left;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
}

.results-total-number {
}

.results-sort-by {
  width: 371px;
  padding-right: 6px;
  padding-top: 5px;
  flex-shrink: 0;
  text-align: left;
  font-size: 0;
}

.results-sort-by span {
  margin: 0;
  padding-left: 12px;
  padding-right: 38px;
  line-height: 18px;
  font-size: 12px;
}

.results-sort-by a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  margin-right: 33px;
  line-height: 18px;
  border-bottom: #81b3d2 1px dotted;
}

.results-sort-by a:hover {
  color: #81b3d2;
}

.results-sort-by a:active {
  color: #000;
  border-bottom: none;
}

.results-sort-by a.active {
  color: #81b3d2;
  border-bottom: none;
}

.results-sort-by a:last-child {
  margin: 0;
}

.results-sort-arrows {
  display: inline-block;
  text-align:left;
  padding-left: px;
  flex-shrink: 0;
  margin-left: 119px;
  width: 34px;
  height: 15px;
  font-size: 0;
}

.results-sort-btn {
  display: inline-block;
  position: relative;
  vertical-align: top;
  background: #fff;
  width: 11px;
  height: 15px;
}

.results-sort-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/page-icons.png);
  background-repeat: no-repeat;
}

.sort-up { margin-right: 12px; }

.sort-up::before, .sort-down::before {
  width: 11px;
  height: 10px;
}

.sort-up::before {
  background-position: -242px -183px; /*-----вверх СЕРАЯ---*/
}

.sort-down::before {
  background-position: -221px -183px; /*-----вниз СЕРАЯ---*/
}

.sort-up:hover::before { 
  background-position: -158px -183px; /* ---вверх ЧЕРНАЯ --*/
}

.sort-down:hover::before {
  background-position: -307px -129px; /* ---вниз ЧЕНАЯ --*/
}

.sort-up.active::before,
.sort-up.active:hover::before,
.sort-up:active::before {
  background-position: -200px -183px; /*---вверх СИНЯЯ --*/
}

.sort-down.active::before,
.sort-down.active:hover::before,
.sort-down:active::before {
  background-position: -179px -183px;  /*---вниз СИНЯЯ --*/
}

/* ---------- */

.found-housing-items {
  display: flex;
  flex-flow: column;
  text-align: left;
}

.found-housing-items a {
  color: #000;
  padding: 0;
  margin: 0;
}

.found-item {
  display: flex;
  margin-bottom: -1px;
  padding: 0 46px;
  padding-top: 28px;
  padding-bottom: 30px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.found-item:last-child { margin-bottom: 0; }

.found-item-img {
  width: 135px;
  height: 90px;
  margin-right: 17px;
  margin-top: 3px;
}

.found-item-info {
  padding-left: 15px;
  width: 373px;
} 

.found-item-info h2 {
  display: inline-block;
  margin: 0;
  margin-bottom: 10px;
  font-size: 21px;
  line-height: 26px;
}

.found-item-info h2 a:hover {
  color: #81b3d2;
}

.found-item-info h2 a:active {
  color: rgba(0, 0, 0, 0.3)
}

.found-item-info-block {
  display: flex;
  width: 258px;
}

.type-more-vertical {
  flex-shrink: 0;
  width: 110px;
  margin-right: 6px;
}

.type-and-price {
  display: inline-block;
  margin-bottom: 10px;
  color: #333;
}

a.more, a.book {
  color: #fff;
  font-weight: bold;
  padding: 3px 0;
}

.more {
  display: inline-block;
  background: #81b3d2;
  width: 110px;
  text-align: center;
}

.more:hover {
  background: #669ec0;
}
.more:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

/* ---------- */

.price-book-vertical {
  width: 142px;
}

.book {
  display: inline-block;
  background: #766357;
  width: 142px;
  color: #fff;
  text-align: center;
}

.book:hover  {
  background: #604e43;
}

.book:active {
  background: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

/* ---------- */

.stars-rate-vertical {
  width: 154px;
  text-align: right;
}

.stars {
  display: inline-block;
  width: 114px;
  height: 17px;
  font-size: 0;
  margin-bottom: 47px;
}

.stars span {
  display: inline-block;
  background-image: url(../img/page-icons.png);
  background-repeat: no-repeat;
  background-position: -45px -37px;
  width: 18px;
  height: 17px;
  margin-left: 6px;
}

.stars span:first-child {margin-left: 0;}

.rate {
  display: inline-block;
  background: #f2f2f2;
  width: 110px;
  text-align: center;
  color:#666;
  padding: 3px 0;
}

/*-----footer ----*/ 

.main-footer {
  display: flex;
  background: rgba( 255, 255, 255, 0.9);
  margin-top: -120px;
  align-items: center;
  padding: 35px 0;
}

.hotel-footer { margin-top: 0; }

.footer-sedona-hashtag {
  display: inline-block;
  margin: 0;
  width: 33.333333%;
  vertical-align: middle;
  font-size: 21px;

  font-weight: bold;

}

.footer-sedona-hashtag a:hover {
  color: #81b3d2;
}

.footer-sedona-hashtag  a:active {
  color: rgba(0, 0, 0, 0.3)
}

.footer-social {
  display: inline-block;
  margin: 0;
  width: 33.333333%;
  vertical-align: middle;
  font-size: 0;

}

.social-btn {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-right: 6px;
  background: #81b3d2;
  width: 46px;
  height: 48px;

}

.social-btn:hover {
  background: #669ec0;
}

.social-btn:active {
  background: #5496bd;
}

.social-btn:last-child { margin-right: 0;}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/page-icons.png);
  background-repeat: no-repeat;

}

.social-btn-twitter::before {
  width: 17px;
  height: 15px;
  background-position: -290px -183px;
}

.social-btn-fb::before {
  width: 10px;
  height: 19px;
  background-position: -25px -37px;
}

.social-btn-youtube::before {
  width: 20px;
  height: 16px;
  background-position: -35px -208px;
}

.social-btn-twitter:active::before,
.social-btn-fb:active::before,
.social-btn-youtube:active::before {
  opacity: 0.3;
}

.footer-copyright {
  display: inline-block;
  width: 33.333333%;
  opacity: 1;
}


.footer-copyright p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-right: 4px;
  line-height: 26px;

}

.footer-copyright a {
  display: inline-block;
  position: relative;
  width: 113px;
  height: 39px;
  font-size: 0;
  vertical-align: middle;

}

.footer-copyright a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../img/page-icons.png);
  background-repeat: no-repeat;
  width: 113px;
  height: 39px;
  background-position: -73px -37px;
}

.footer-copyright a:hover::before {
  background-position: -5px -86px;
}

.footer-copyright a:active::before {
  background-position: -5px -135px;
}