body {
  background: #f2f2f2;
  color: #000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.container {
  background: #fff;
  width: 768px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.15);
}

.container a {
  text-decoration: none;
}

.container button {
  cursor: pointer;
}

.main-header {
  width: 100%;
  text-align: left;
  position: relative;
}

.logo {
  position: absolute;
  margin-left: 314px;
}

.main-navigation {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.main-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  list-style: none;
}

.main-navigation li {
  margin: 0;
  padding: 0;
}

.main-navigation li:nth-child(2),
.main-navigation li:nth-child(3) {
  width: 185px;
}

.main-navigation li:nth-child(1),
.main-navigation li:nth-child(4) {
  width: 153px;
}

.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {
  text-align: right;
}

.main-navigation a {
  display: inline-block;
  vertical-align: middle;
  margin: 17px 0;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation .active {
  color: #766357;
}

.main-navigation .active:hover {
  color: #766357;
}

.main-navigation .active:active {
  color: #766357;
}

.intro-header-background {
  display: block;
  height: 513px;
  margin-bottom: 57px;
  background: url(../img/welcome.png) no-repeat 50% 77px,
    url(../img/background-index-768.jpg) no-repeat;
  background-color: #ddebf4;
  color: #000;
}

.intro-header-background p {
  font-size: 0;
  margin: 0;
}

.title,
.discription-text {
  margin: 0 auto;
}

.sedona-description {
  margin-bottom: 52px;
}

.sedona-description .title {
  font-size: 21px;
  line-height: 26px;
}

.sedona-description .discription-text {
  margin-top: 30px;
}

.sedona-privelege-block {
  display: block;
}

.privelege-img {
  width: 512px;
  height: 256px;
}

.privelege-img-1 {
  background: #81b3d2 url(../img/privelege-1-768.jpg) no-repeat;
  color: #fff;
  float: right;
}

.privelege-img-2 {
  background: #81b3d2 url(../img/privelege-2-768.jpg) no-repeat;
  color: #fff;
  float: left;
}

.privelege-left {
  float: left; 
}

.privelege-right {
  float: right;
}

.sedona-privelege-block .sedona-privelege-info {
  width: 256px;
  min-height: 256px;
  background: #81b3d2;
}

.sedona-privelege-info .title {
  margin: 0;
  padding-top: 47px;
  margin-bottom: 24px;
}

.privelege_number {
  display: block;
  margin-bottom: 21px;
}

.features {
  margin-top: 58px;
  margin-bottom: 61px;
}

.features h2,
.sedona-privelege-unother h2 {
  font-size: 21px;
  font-weight: bold;
}

.features-item {
  float: left;
  width: 246px;
  margin: 0 5px;
}

.features-img {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;
  font-size: 0;
  width: 76px;
  height: 76px;
}

.features-img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url(../img/page-icons.png);
  background-repeat: no-repeat;
}

.img-house::before {
  width: 75px;
  height: 72px;
  background-position: -234px -5px;
}

.img-food::before {
  width: 74px;
  height: 70px;
  background-position: -128px -86px;
}

.img-souvenirs::before {
  width: 64px;
  height: 76px;
  background-position: -212px -87px;
}

.features .discription-text {
  padding-top: 24px;
}

.sedona-privelege-unother {
  background-color: #eee;
  margin-bottom: 57px;
  min-height: 256px;
}

.sedona-privelege-unother .title {
  padding-top: 47px;
}

.sedona-interested h2 {
  width: 100%;
  margin-bottom: 32px;
  font-size: 30px;
}

.sedona-interested .discription-text {
  line-height: 24px;
  margin-bottom: 47px;
}

.index-search-hotel {
  position: relative;
  width: 568px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  z-index: 10;
}

.index-search-title {
  display: block;
  padding: 30px 0;
  line-height: 26px;
  font-size: 21px;
  background: #766357;
  color: #fff;
}

.index-search-form {
  position: absolute;
  text-align: left;
  margin: 0 auto;
  box-sizing: border-box;
  background: #fff;
  padding: 55px;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.index-search-close {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.index-search-animation {
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

@keyframes bounce {
  0%   {
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }
  70%  {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  90%  {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.index-search-form fieldset {
  position: relative;
  height: 38px;
  line-height: 26px;
  border: none;
}

.index-search-form label {
  display: block;
  padding: 6px 0;
}

.index-search-form input::-webkit-inner-spin-button, 
.index-search-form input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.index-search-form input {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  background: #f2f2f2;
  padding: 3px 0;
  color: #000;
  padding-left: 13px;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

.index-search-form input[type=number] {
  -moz-appearance: textfield;
}

.index-search-form input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  opacity: 0;
}

.index-search-form input[type="date"] {
  position: absolute;
  top: 0;
  right: 0;
  width: 333px;
  height: 32px;
}

.index-search-form input[type="date"]:hover {
  background: #ebebeb;
}

.index-search-form input[type="date"]:focus {
  background: #fff;
  box-shadow: inset 0 0 0 2px #e5e5e5;
}

.index-search-form button {
  background: none;
  outline: none;
}

.index-search-form button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url(../img/page-icons.png);
  background-repeat: no-repeat;
}

.index-search-calendar {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 38px;
  height: 38px;
  font-size: 0;
}

.index-search-calendar::before {
  width: 23px;
  height: 22px;
  background-position: -67px -5px;
}

.index-search-calendar:hover::before {
  background-position: -5px -5px;
}

.index-search-calendar:active::before {
  background-position: -36px -5px;
}

.index-search-form .date-in,
.index-search-form .date-out {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 29px;
}

.index-search-column {
  width: 458px;
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
}

.index-search-column fieldset {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  position: relative;
}

.index-search-column fieldset:first-child {
  width: 226px;
}

.index-search-column fieldset:last-child {
  margin-left: 50px;
  width: 178px;
} 

.minus-plus-shell {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0;
}

.minus-plus-shell button {
  position: relative;
  border: none;
  width: 38px;
  height: 38px;
  font-size: 0;
  background: #f2f2f2;
}

.button-minus::before {
  width: 12px;
  height: 3px;
  background-position: -286px -113px;
}

.button-minus:hover::before {
  background-position: -286px -87px;
}

.button-minus:active::before {
  background-position: -286px -100px;
}

.button-plus::before {
  width: 11px;
  height: 11px;
  background-position: -286px -129px;
}

.button-plus:hover::before {
  background-position: -308px -87px;
}

.button-plus:active::before {
  background-position: -308px -108px;
}

.minus-plus-shell input {
  margin: 0;
  padding: 0;
  width: 38px;
  height: 38px;
  text-align: center;
}

.index-search-form .btn {
  font-family: "PT Sans", "Arial", sans-serif;
  background: #81b3d2;
  width: 458px;
  height: 58px;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  outline: none;
}

.index-search-form .btn:hover {
  background: #669ec0;
}

.index-search-form .btn:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.sedona-map {
  background: #cbdda9 url(../img/map-768.jpg);
  color: #000;
  width: 768px;
  height: 593px;
  margin: 0 auto;
}

.search-housing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #6990b7 url(../img/background-hotels-768.jpg) no-repeat;
  background-position: 0 -55px;
  padding-left: 46px;
  padding-right: 46px;
  padding-top: 28px;
  padding-bottom: 30px;
  color: #fff;
}

.search-housing fieldset {
  text-align: left;
  margin: 0;
  border: 0 none;
}

.search-housing legend {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}

.search-housing input[type="checkbox"] {
  display: none;
}

.search-housing-checkbox:last-child {
  margin-bottom: 0;
}

.search-housing-checkbox {
  display: inline-block;
  position: relative;
  width: 116px;
  height: 22px;
  margin-bottom: 24px;
  padding-left: 40px;
  cursor: pointer;
}

.search-housing-checkbox::before {
  content: "";
  position: absolute;
  background-image: url(../img/page-icons.png);
  background-repeat: no-repeat;
  background-position: -130px -5px;
  margin-left: -41px;
  width: 26px;
  height: 23px;
}

input[type="checkbox"]:checked + .search-housing-checkbox::before {
  background-position: -198px -5px;
}

input[type="checkbox"]:disabled + .search-housing-checkbox::before {
  background-position: -98px -5px;
}

input[type="checkbox"]:disabled:checked + .search-housing-checkbox::before {
  background-position: -162px -5px;
}

.search-infrastructure {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 0;
  width: 226px;
}

.search-typehousing {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 0;
  width: 212px;
  padding-left: 14px;
}

.search-price {
  padding: 0;
  width: 220px;
  text-transform: uppercase;
}

.search-infrastructure legend,
.search-typehousing legend {
  margin-bottom: 25px;
}

.price-button-shell { 
  -ms-flex-negative: 0; 
  flex-shrink: 0;
  width: 224px;
}

.search-price-title {
  margin-bottom: 10px;
  padding-left: 4px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: inherit;
  padding: 0;
  margin-top: 5px;
  text-align: left;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
}

.price-controls input {
  max-width: 86px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

.price-controls .min-price {
  width: 67px;
  padding-left: 41px;
}

.min-price input {
  width: 42px;
}

.price-controls .max-price {
  width: 80px;
  padding-left: 31px;
}

.max-price input {
  width: 55px;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
  margin-left: 4px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 71%;
}

.search-housing .btn {
  background: none;
  margin-left: 44px;
  padding: 8px 0;
  text-transform: uppercase;
  border: #fff 2px solid;
  border-radius: 2px;
  width: 137px;
  color: #fff;
  outline: none;
}

.search-housing .btn:hover {
  background: #fff;
  color: #000;
}

.total-and-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 30px 46px;
}

.results-total {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 154px;
  line-height: 26px;
  font-size: 21px;
  text-align: left;
  font-weight: bold;
}

.results-sort-by {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 371px;
  text-align: left;
  font-size: 0;
  padding-top: 5px;
}

.results-sort-by span {
  vertical-align: middle;
  margin: 0;
  padding-left: 10px;
  padding-right: 40px;
  line-height: 18px;
  font-size: 12px;
}

.results-sort-by a {
  vertical-align: middle;
  margin-right: 33px;
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  line-height: 18px;
  border-bottom: #81b3d2 1px dotted;
}

.results-sort-by a:hover {
  color: #81b3d2;
}

.results-sort-by a:active {
  color: #000;
  border-bottom: none;
}

.results-sort-by a.active {
  color: #81b3d2;
  border-bottom: none;
}

.results-sort-by a:last-child {
  margin: 0;
}

.results-sort-arrows {
  text-align: left;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 117px;
  width: 34px;
  font-size: 0;
}

.results-sort-btn {
  display: inline-block;
  vertical-align: middle;
  margin-top: 3px;
  position: relative;
  background: #fff;
  width: 11px;
}

.results-sort-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url(../img/page-icons.png);
  background-repeat: no-repeat;
}

.sort-up {
  margin-right: 12px;
}

.sort-up::before,
.sort-down::before {
  width: 11px;
  height: 10px;
}

.sort-up::before {
  background-position: -242px -183px; /*-----вверх СЕРАЯ---*/
}

.sort-down::before {
  background-position: -221px -183px
}

.sort-up:hover::before { 
  background-position: -158px -183px;
}

.sort-down:hover::before {
  background-position: -307px -129px;
}

.sort-up.active::before,
.sort-up.active:hover::before,
.sort-up:active::before {
  background-position: -200px -183px;
}

.sort-down.active::before,
.sort-down.active:hover::before,
.sort-down:active::before {
  background-position: -179px -183px;
}

.found-housing-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  text-align: left;
}

.found-housing-items a {
  color: #000;
  padding: 0;
  margin: 0;
}

.found-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: -1px;
  padding: 0 46px;
  padding-top: 25px;
  padding-bottom: 30px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.found-item:last-child {
  margin-bottom: 0;
}

.found-item-img {
  background: #fec4d7;
  margin-right: 16px;
  margin-top: 5px;
  line-height: 0;
  color: #000;
}

.found-item-img img {
  width: 135px;
  height: 90px;
}

.found-item-info {
  padding-left: 15px;
  width: 373px;
} 

.found-item-title {
  display: block;
  margin: 0;
  margin-bottom: 7px;
  font-size: 21px;
  line-height: 26px;
}

.found-item-title a:hover {
  color: #81b3d2;
}

.found-item-title a:active {
  color: rgba(0, 0, 0, 0.3)
}

.found-item-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 258px;
}

.type-more-vertical {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 110px;
  margin-right: 6px;
}

.type-and-price {
  display: block;
  margin-bottom: 14px;
  color: #333;
}

a.more,
a.book {
  color: #fff;
  font-weight: bold;
  padding: 3px 0;
}

.more {
  display: block;
  background: #81b3d2;
  width: 110px;
  text-align: center;
}

.more:hover {
  background: #669ec0;
}

.more:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.price-book-vertical {
  width: 142px;
}

.book {
  display: block;
  background: #766357;
  width: 142px;
  color: #fff;
  text-align: center;
}

.book:hover  {
  background: #604e43;
}

.book:active {
  background: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.stars-rate-vertical {
  width: 140px;
  text-align: right;
}

.stars {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
  width: 114px;
  height: 17px;
  font-size: 0;
  margin-bottom: 46px;
}

.stars span {
  display: inline-block;
  vertical-align: top;
  background-image: url(../img/page-icons.png);
  background-repeat: no-repeat;
  background-position: -45px -37px;
  color: #81b3d2;
  width: 18px;
  height: 17px;
  margin-left: 6px;
}

.stars span:first-child {
  margin-left: 0;
}

.rate {
  display: inline-block;
  vertical-align: middle;
  background: #f2f2f2;
  width: 111px;
  padding: 3px 0;
  text-align: center;
  color: #666;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: rgba( 255, 255, 255, 0.9);
  margin-top: -120px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 35px 0 37px 0
}

.hotel-footer {
  margin-top: 0;
}

.footer-sedona-hashtag {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: 33.333333%;
  font-size: 21px;
  font-weight: bold;
}

.footer-sedona-hashtag a:hover {
  color: #81b3d2;
}

.footer-sedona-hashtag a:active {
  color: rgba(0, 0, 0, 0.3)
}

.footer-social {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: 33.333333%;
  font-size: 0;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 6px;
  background: #81b3d2;
  width: 46px;
  height: 48px;
}

.social-btn:hover {
  background: #669ec0;
}

.social-btn:active {
  background: #5496bd;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-image: url(../img/page-icons.png);
  background-repeat: no-repeat;
}

.social-btn-twitter::before {
  width: 17px;
  height: 15px;
  background-position: -290px -183px;
}

.social-btn-fb::before {
  width: 10px;
  height: 19px;
  background-position: -25px -37px;
}

.social-btn-youtube::before {
  width: 20px;
  height: 16px;
  background-position: -35px -208px;
}

.social-btn-twitter:active::before,
.social-btn-fb:active::before,
.social-btn-youtube:active::before {
  opacity: 0.3;
}

.footer-copyright {
  width: 33.333333%;
  opacity: 1;
}

.footer-copyright p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-right: 4px;
  line-height: 26px;
}

.footer-copyright a {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 113px;
  height: 39px;
  font-size: 0;
}

.footer-copyright a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url(../img/page-icons.png);
  background-repeat: no-repeat;
  background-position: -73px -37px;
  width: 113px;
  height: 39px;
}

.footer-copyright a:hover::before {
  background-position: -5px -86px;
}

.footer-copyright a:active::before {
  background-position: -5px -135px;
}