body {
  font-family: "PT Sans", "Arial", serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.container {
  width: 768px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.container a {
  text-decoration: none;
}

.main-header {
  width: 100%;
  text-align: left;
  position: relative;
}

.logo {
  position: absolute;
  margin-left: 314px;
}

.main-navigation {
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}


.main-navigation ul {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  width: 100%;
  list-style: none;

}

.main-navigation li {
  vertical-align: top;
  width: 20%;
  margin: 0;
  padding: 0;

}

.main-navigation li:nth-child(2) {
  margin-right: auto;
}


.main-navigation li:nth-child(3),
.main-navigation li:nth-child(4) {
  text-align: right;
}


.main-navigation a {
  display: block;
  padding: 15px 0 ;
  font-size:14px;
  font-weight: bold;
  color: #000;
}


.main-navigation a:hover {
  color:#81b3d2;
}

.main-navigation a:active {
  opacity: 0.3;
}

.main-navigation li.active a {
  color:#766357;
}

.main-navigation li.active:active a {
  opacity: 1;
}

.intro-header-background {
  display: block;
  height: 513px;
  margin-bottom: 57px;
  background: url(../img/welcome.png) no-repeat 50% 75px,
    url(../img/background-index-768.jpg) no-repeat;
}

.intro-header-background p {
  font-size: 0;
  margin: 0;
}

.sedona-description {
  margin-bottom: 55px;
}

.sedona-description h2 {
  display: inline-block;
  width: 453px;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
}

.sedona-description .discription-text {
  margin: 0;
  margin-top: 35px;
}

.features-item  h2.title {
  display: inline-block;
  width: 160px;
  margin: 0;
}

.sedona-privelege-block {
  display: block;
  max-height: 256px;
}

.privelege-left {
  background: #333;
  float: left; 
}

.sedona-privelege-block .sedona-privelege-info {
  display: inline-block;
  background: #81b3d2;
  width: 256px;
  padding-bottom: 13px;

}

.sedona-privelege-info h2 {
  display: inline-block;
  width: 151px;
  margin: 0;
  padding-top: 47px;
  margin-bottom: 24px;
}

.privelege_number {
  display: inline-block;
  width: 100%;
}

.sedona-privelege-info .discription-text {
  display: inline-block;
  width: 200px;
  margin-top: 26px;
  margin-bottom: 20px;
}

.privelege-img {
  width: 512px;
  height: 256px;
}

.privelege-img-1 {
  background: url(../img/privelege-1-768.jpg) no-repeat;
  float: right;
}

.features {
  margin-top: 60px;
  margin-bottom: 64px;
}

.features h2,
.sedona-privelege-unother h2 {
  font-size: 21px;
  font-weight: bold;
}

.features-item {
  display: block;
  float: left;
  width: 246px;
  margin: 0 5px;
  height: 256px;
  text-align: center;
}

.features-img {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  background: #fff;
  font-size: 0;
  width: 76px;
  height: 76px;
}

.features-img::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/page-icons.png);
  background-repeat: no-repeat;
}

.img-house::before  {
  width: 75px;
  height: 72px;
  background-position: -234px -5px;
}

.img-food::before  {
  width: 74px;
  height: 70px;
  background-position: -128px -86px;
}

.img-souvenirs::before {
  width: 64px;
  height: 76px;
  background-position: -212px -87px;
}

.features .features-item h2 {
  margin:0;
}


.features .discription-text {
  display: inline-block;
  width: 166px;
  margin: 0;
  padding-top: 24px;

}

.privelege-right {
  float: right;
}

.privelege-img-2 {
  background: url(../img/privelege-2-768.jpg);
  float: left;
}

.sedona-privelege-unother {
  background-color: #eee;
  margin-bottom: 54px;
}


.sedona-privelege-unother .title {
  padding-top: 47px;
}

.sedona-privelege-unother .discription-text {
  width: 155px;
}

.search-hotel {
  position: relative;
  display: block;
  width: 568px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 0 ;
}

.search-hotel.off {display:none;}

.search-hotel-title { 
  background: #766357;
  height: 22px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.search-hotel h2 {
  display: inline-block;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
}

.search-hotel-form {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background: #fff;
  padding: 55px;
}

.search-date-calendar { }

.minus-plus-shell { }

.button-minus { }

.button-plus { }

.sedona-map {
  background: url(../img/map-768.jpg);
  width:  766px;
  height: 593px;
  margin: 0 auto;
}

/* ------sedona-hotel -----------*/

.search-housing {
  display: flex;
  justify-content: center;
  padding-left: 46px;
  padding-right: 46px;
  padding-top: 29px;
  padding-bottom: 32px;
  background: url(../img/background-hotels-768.jpg);
}

.search-housing fieldset {
  margin: 0;
  padding: 0;
  border: 0 none;
} 

.search-infrastructure {   
  flex-shrink: 0;
  width: 226px;
}

.search-typehousing {
  flex-shrink: 0;
  width: 226px;
  padding-left: 14px;
}

.price-button-shell { 
  flex-shrink: 0;
  width: 226px;
}

.search-price {
  min-height: 99px;
}

.search-housing .btn {
  width: 137px;
  height: 36px;
  margin-top: 20px;
}

/* --------------------------------------*/
.total-and-sort {
  vertical-align: middle;
  margin: 0;
  max-height: 86px;
  padding: 30px 46px;
  border-bottom: 1px solid #e5e5e5;
}

.total-and-sort-shell {
  display: flex;
}


.results-total {
  display: inline;
  vertical-align: middle;
  width: 154px;
  flex-shrink: 0;
  text-align: left;
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
}

.results-total-number {
}

.results-sort-by {
  width: 371px;
  padding-right: 6px;
  padding-top: 5px;
  flex-shrink: 0;
  text-align: left;
  font-size: 0;
}

.results-sort-by span {
  margin: 0;
  padding-left: 12px;
  padding-right: 38px;
  line-height: 18px;
  font-size: 12px;
}

.results-sort-by a {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  margin-right: 33px;
  line-height: 18px;
  border-bottom: #81b3d2 1px dotted;
}

.results-sort-by a:hover {
  color: #81b3d2;
}

.results-sort-by a:active {
  color: #000;
  border-bottom: none;
}

.results-sort-by a.active {
  color: #81b3d2;
  border-bottom: none;
}

.results-sort-by a:last-child {
  margin: 0;
}

.results-sort-arrows {
  display: inline-block;
  text-align:left;
  padding-left: px;
  flex-shrink: 0;
  margin-left: 119px;
  width: 34px;
  height: 15px;
  font-size: 0;
}

.results-sort-btn {
  display: inline-block;
  position: relative;
  vertical-align: top;
  background: #fff;
  width: 11px;
  height: 15px;
}

.results-sort-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/page-icons.png);
  background-repeat: no-repeat;
}

.sort-up { margin-right: 12px; }

.sort-up::before, .sort-down::before {
  width: 11px;
  height: 10px;
}

.sort-up::before {
  background-position: -242px -183px; /*-----вверх СЕРАЯ---*/
}

.sort-down::before {
  background-position: -221px -183px; /*-----вниз СЕРАЯ---*/
}

.sort-up:hover::before { 
  background-position: -158px -183px; /* ---вверх ЧЕРНАЯ --*/
}

.sort-down:hover::before {
  background-position: -307px -129px; /* ---вниз ЧЕНАЯ --*/
}

.sort-up.active::before,
.sort-up.active:hover::before,
.sort-up:active::before {
  background-position: -200px -183px; /*---вверх СИНЯЯ --*/
}

.sort-down.active::before,
.sort-down.active:hover::before,
.sort-down:active::before {
  background-position: -179px -183px;  /*---вниз СИНЯЯ --*/
}

/* ---------- */

.found-housing-items {
  display: flex;
  flex-flow: column;
  text-align: left;
}

.found-housing-items a {
  color: #000;
  padding: 0;
  margin: 0;
}

.found-item {
  display: flex;
  padding: 0 46px;
  padding-top: 28px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.found-item-img {
  width: 135px;
  height: 90px;
  margin-right: 17px;
  margin-top: 3px;
}

.found-item-info {
  padding-left: 15px;
  width: 373px;
} 

.found-item-info h2 {
  display: inline-block;
  margin: 0;
  margin-bottom: 10px;
  font-size: 21px;
  line-height: 26px;
}

.found-item-info-block {
  display: flex;
  width: 258px;
}

.type-more-vertical {
  flex-shrink: 0;
  width: 110px;
  margin-right: 6px;
}

.type-and-price {
  display: inline-block;
  margin-bottom: 10px;
  color: #333;
}

a.more, a.book {
  color: #fff;
  font-weight: bold;
  padding: 3px 0;
}

.more {
  display: inline-block;
  background: #81b3d2;
  width: 110px;
  text-align: center;
}

/* ---------- */

.price-book-vertical {
  width: 142px;
}

.book {
  display: inline-block;
  background: #766357;
  width: 142px;
  color: #fff;
  text-align: center;
}

/* ---------- */

.stars-rate-vertical {
  width: 154px;
  text-align: right;
}

.stars {
  display: inline-block;
  width: 114px;
  height: 17px;
  font-size: 0;
}

.stars span {
  display: inline-block;
  background-image: url(../img/page-icons.png);
  background-repeat: no-repeat;
  background-position: -45px -37px;
  width: 18px;
  height: 17px;
  margin-left: 6px;
}

.stars span:first-child {margin-left: 0;}

.rate { }
/* ---------- */
.found-item { }
.found-item-shell { }


/*-----footer ----*/ 

.main-footer {
  background: rgba( 255, 255, 255, 0.9);
  margin-top: -120px;
  padding: 36px 0;
  opacity: 0.9;
}

.hotel-footer { margin-top: 0; }

.footer-sedona-hashtag {
  display: inline-block;
  width: 33.333333%;
  vertical-align: middle;
  font-size: 21px;
  opacity: 1; 
}

.footer-social {
  display: inline-block;
  width: 33.333333%;
  vertical-align: middle;
  font-size: 0;
  opacity: 1; 
}

.footer-copyright {
  float: right;
  margin-right: 31px;
  opacity: 1;
}


.footer-copyright p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.footer-copyright a {
  /* position: absolute;
  background: url(../img/page-icons.png) no-repeat; */
  display: inline-block;
  vertical-align: middle;
}